@{
    ViewData["Title"] = "About us";
}
<div class="text-center">
    <img src="/Images/movies.jpg" style="float:left" />
    <h1 class="display-4">About us</h1>
    <p>We are a group of people who are very enthusiastic about movies.</p>
</div>