@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the movie website!</h1>
    <p>We're a great new place to find information on movies</p>
    <img src="~/images/movie_frontpage.jpg" alt="Movie front page" style="width:600px;"/>
    <p>
        For even more information on movies go
        to <a href="http://www.imdb.com">www.imdb.com</a>.
    </p>
</div>
